<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="{{ '/assets/css/bulma.min.css?v=' | append: site.github.build_revision | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/fontawesome-all.min.css?v=' | append: site.github.build_revision | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/styles.css?v=' | append: site.github.build_revision | relative_url }}">
        <!-- <link rel="stylesheet" href="css/bulma-0.8.2/css/bulma.min.css">
        <link rel="stylesheet" href="css/fontawesome-free-5.13.0-web/css/all.min.css"> -->
        <style>
            .me {
                background: url({{ '/assets/images/me.jpg?v=' | append: site.github.build_revision | relative_url }}) no-repeat center center fixed;
                background-size: auto 100%;
            }
        </style>
    </head>
<body>
    {%- include header.html -%}

    {{ content }}

    {%- include footer.html -%}
</body>
</html>