---
layout: default
---

<section class="section">
    <div class="container">
        {% for post in site.posts %}
        <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">
                <div class="content">
                    <a href="{{post.url}}"><h1 class="title">{{ post.title }}</h1></a>
                    <figure class="image">
                        <img src="{{post.image }}" alt="{{post.title}}">
                    </figure>
                    <p>{{post.summary}}</p>
                    <a href="{{post.url}}">Leer más</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>